<span *ngIf="!userLiked" (click)="onLike()" class="like-button unliked-content">
    <svg class="bi" width="32" height="32" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#heart"/>
      </svg>
</span>

<span *ngIf="userLiked" (click)="onLike()" class="like-button liked-content">
    <svg class="bi" width="32" height="32" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#heart-fill"/>
      </svg>
</span>

<span class="like-counter">
    {{ likeCount }}
</span>
