/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding: 20px;
}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}